<!doctype html>
<html lang="en" >
<head >
  <title >Title</title >
  <!-- Required meta tags -->
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
</head >
<body >
<!--header-->
<div class="container-fluid" >
  <div class="col-4" >
    <a href="/task/add" >
      <button class="btn btn-info" type="button" >Add</button >
    </a >
  </div >
  <div class="col-4" >
    <p class="h1" >All Task</p >
  </div >
  <div class="col-4" >
  </div >
</div >
<!--data vi-->
<div class="container" >
  <table class="table table-striped table-inverse table-responsive" >
    <thead class="thead-inverse" >
    <tr >
      <th >Index</th >
      <th >Name</th >
      <th >Modify</th >
    </tr >
    </thead >
    <tbody >
    <tr data-th-each="task, index : ${tasks}" >
      <td data-th-text="${index.count}" ></td >
      <td data-th-text="${task.name}" ></td >
      <td >
        <a class="btn btn-primary" data-th-href="${'/task/edit/'+task.id}" >Edit</a >
        <a class="btn btn-danger" data-th-href="${'/task/delete/'+task.id}" >Delete</a >
        <a class="btn btn-success" data-th-href="${'/task/view/'+task.id}" >View</a >
      </td >
    </tr >
    </tbody >
  </table >
</div >

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous" ></script >
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous" ></script >
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous" ></script >
</body >
</html >
