<!doctype html>
<html lang="en" >
<head data-th-fragment="headerFragment" >
    <title id="headerTitle" >Spring boot - Thymeleaf</title >
    <!-- Required meta tags -->
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

    <!-- Bootstrap core CSS Downloaded file add-->
    <link data-th-href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css} " media="all" rel="stylesheet"
          type="text/css" />

    <!--Jquery ui-->
    <link data-th-href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css} " media="all" rel="stylesheet" type="text/css" />
    <link data-th-href="@{/webjars/jquery-ui/1.12.1/jquery-ui.structure.css}" media="all" rel="stylesheet"
          type="text/css" />
    <link data-th-href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.css}" media="all" rel="stylesheet"
          type="text/css" />
    <!-- fontawesome css -->
    <link data-th-href="@{/webjars/font-awesome/5.11.2/css/fontawesome.min.css} " media="all" rel="stylesheet"
          type="text/css" />

    <!--    &lt;!&ndash;table pagination&ndash;&gt;
        <link  data-th-href="@{/css/dataTables.bootstrap.min.css}" media="all" rel="stylesheet" type="text/css"/>
        &lt;!&ndash; Custom styles for this template &ndash;&gt;
        <link  data-th-href="@{/css/myCss.css}" media="all" rel="stylesheet" type="text/css"/>
       &lt;!&ndash;image uploader css&ndash;&gt;
        <link  data-th-href="@{/css/image-uploader.min.css}" media="all" rel="stylesheet" type="text/css"/>
        &lt;!&ndash;Floating Label&ndash;&gt;
        <link  data-th-href="@{/css/floating-labels.css}" media="all" rel="stylesheet" type="text/css"/>-->
</head>
<body>


</body>
</html>

