<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
    <meta charset="UTF-8" >
    <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container-fluid" >
    <!--Employee Add From and Edit Form-->
    <div class="bg-secondary mb-5" >
        <div class="col-sm-12 col-md-12" >
            <h2 class="text-center text-light" ><b ><i ><span
                  data-th-text="${addStatus == true ? 'Employee Add' : 'Employee Update'}" ></span ></i ></b ></h2 >
            <form method="POST" data-th-action="${addStatus == true ? '/employeeCrud/add' : '/employeeCrud/update'}"
                  data-th-object="${employee}" >
                <div class="form-row" >
                    <!--One Side -->
                    <div class="col-sm-6 col-md-6" >
                        <!--1 Id -->
                        <div class="form-group" data-th-if="${addStatus==false}" >
                            <label for="id" >ID:</label >
                            <input aria-describedby="idDescribe" class="form-control" id="id" placeholder="Enter id"
                                   data-th-field="*{id}"
                                   type="text" >
                            <small class="form-text text-muted" id="idDescribe" >Id would display after add status
                                                                                 true.</small >
                        </div >
                        <!--2 Name -->
                        <div class="form-group" >
                            <label for="name" >Full Name: </label >
                            <input aria-describedby="nameHelp" class="form-control" id="name" placeholder="Enter Name"
                                   data-th-field="*{name}"
                                   type="text" >
                            <p class="text-danger" data-th-errors="*{name}"
                               data-th-if="${#fields.hasErrors('name')}" ></p >
                            <small class="form-text text-muted" id="nameHelp" >Please provide valid email.</small >
                        </div >
                        <!--3 Date of Birth-->
                        <div class="form-group">
                            <label for="dateOfBirth">Date Of Birth:</label>
                            <input aria-describedby="dateOfBirthHelp" class="form-control" id="dateOfBirth"
                                   placeholder="Enter email"
                                   data-th-field="*{dateOfBirth}"
                                   type="date">
                            <small class="form-text text-muted" id="dateOfBirthHelp">Provide valid date of
                                birth.</small>
                        </div>
                        <!--4 Gender-->
                        <div class="form-group">
                            <label data-th-for="${gender}" >Gender:</label >
                            <!--Radio button-->
                            <div class="col">
                                <div class="custom-control custom-checkbox custom-control-inline "
                                     data-th-each="gender : ${genders}" >
                                    <input class="custom-control-input" required data-th-field="*{gender}"
                                           data-th-value="${gender.id}" type="radio" />
                                    <label class="custom-control-label" data-th-for="${#ids.prev('gender')}"
                                           data-th-text="${gender.name}" > radio
                                    </label >
                                </div >
                            </div>
                        </div>
                        <!--5 Designation-->
                        <div class="form-group">
                            <label for="designation">Designation:</label>
                            <select class="form-control" id="designation" data-th-field="*{designation}" >
                                <option value="" >Please Select</option >
                                <option data-th-each="designation : ${designations}"
                                        data-th-field="*{designation}"
                                        data-th-text="${designation.name}"
                                        data-th-value="${designation.id}"
                                ></option >
                                <!-- data-th-selected="${designations.contains(designation.id)}"-->
                            </select >
                        </div>
                        <!--6 Civil status-->
                        <div class="form-group">
                            <label for="civilStatus">Civil Status:</label>
                            <select class="form-control" id="civilStatus" data-th-field="*{civilStatus}" >
                                <option value="" >Please Select</option >
                                <option data-th-each="civilStatus : ${civilStatuses}"
                                        data-th-field="*{civilStatus}"
                                        data-th-text="${civilStatus.civilStatus}"
                                        data-th-value="${civilStatus}"

                                ></option >
                            </select >
                        </div>
                        <!--7 Favorite days in week-->
                        <div class="form-group">
                            <div class="custom-control custom-checkbox" >
                                <label data-th-for="${weekDays}" > Select Favorite Day:</label >
                                <div data-th-each="weekDay: ${weekDays}" >
                                    <input class="custom-control-input" data-th-field="*{weekDays}"
                                           data-th-value="${weekDay.id}"
                                           type="checkbox" />
                                    <label class="custom-control-label"
                                           data-th-for="${#ids.prev('weekDays')}"
                                           data-th-text="${weekDay.name}" ></label >
                                </div >
                            </div >
                        </div>
                    </div>
                    <!--Second side-->
                    <div class="col-sm-6 col-md-6">
                        <!--8 Mobile -->
                        <div class="form-group">
                            <label for="mobile">Mobile:</label>
                            <input aria-describedby="mobileHelp" class="form-control" id="mobile"
                                   placeholder="Enter mobile number"
                                   data-th-field="*{mobile}"
                                   type="text">
                            <small class="form-text text-muted" id="mobileHelp">Provide valid Mobile Number.</small>
                        </div>
                        <!--9 land -->
                        <div class="form-group">
                            <label for="land">Land:</label>
                            <input aria-describedby="landHelp" class="form-control" id="land"
                                   placeholder="Enter land number"
                                   data-th-field="*{land}"
                                   type="text">
                            <small class="form-text text-muted" id="landHelp">Provide valid Land Number.</small>
                        </div>
                        <!--10 email-->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"
                                   placeholder="Enter email"
                                   data-th-field="*{email}"
                                   type="email">
                            <small class="form-text text-muted" id="emailHelp">Provide valid email.</small>
                        </div>
                        <!--11 address-->
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea aria-describedby="addressHelp" class="form-control" id="address"
                                      placeholder="Enter Address"
                                      data-th-field="*{address}" ></textarea >
                            <small class="form-text text-muted" id="addressHelp">Provide valid address.</small>
                        </div>
                        <!--12 Hobbies -->
                        <div class="form-group">
                            <label for="hobbies">Hobbies:</label>
                            <select class="form-control" id="hobbies" multiple
                                    data-th-field="*{hobbiesList}" >
                                <option data-th-each="hobby : ${hobbies}"
                                        data-th-field="*{hobbiesList}"
                                        data-th-text="${hobby.name}"
                                        data-th-value="${hobby.id}"
                                ></option >
                            </select >
                        </div>
                    </div>
                </div>
                <!--Submit button -->
                <div class="form-row mb-5">
                    <div class="offset-3 text-center col-6">
                        <button class="btn btn-primary" type="submit" >
                            <span data-th-text="${addStatus == true? 'Save':'Update'}" ></span >&nbsp; <i
                              class="fas fa-thumbs-up  " ></i >
                        </button >
                    </div>
                </div>
                <!--Show errors-->
                <div >
                    <div data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '" >
                        <span data-th-each="err : ${#fields.errors('*')}" data-th-text="${err}" ></span >
                    </div >

                </div >
            </form>
        </div>
    </div>
    <!--Employee List Display Area-->
    <div class="container-fluid bg-info" data-th-if="${not #lists.isEmpty(employeeList)}" >
        <p class="text-center text-light" ><b ><i >Employee List</i ></b ></p >
        <div class="table-responsive" >
            <table class="table table-hover" >
                <thead >
                <tr >
                    <th >Name</th >
                    <th >Date of birth</th >
                    <th >Mobile</th >
                    <th >Land</th >
                    <th >Modify</th >
                </tr>
                </thead>
                <tbody >
                <tr data-th-each="employee : ${employeeList}" >
                    <td data-th-text="${employee.name}" ></td >
                    <td data-th-text="${employee.dateOfBirth}" ></td >
                    <td data-th-text="${employee.mobile}" ></td >
                    <td data-th-text="${employee.land}" ></td >
                    <td >
                        <a data-th-href="${'/employeeCrud/view/'+employee.id}" >
                            <button class="btn btn-success" ><i aria-hidden="true" class="fa fa-folder-open" ></i >
                                &nbsp;View
                            </button >
                        </a >
                        <a data-th-href="${'/employeeCrud/edit/'+employee.id}" >
                            <button class="btn btn-warning" ><i aria-hidden="true" class="fa fa-edit" ></i >&nbsp;Edit
                            </button >
                        </a >
                        <a data-th-href="${'/employeeCrud/delete/'+employee.id}" >
                            <button class="btn btn-danger" ><i aria-hidden="true" class="fas fa-trash" ></i >&nbsp;Delete
                            </button >
                        </a >
                    </td>
                </tr>
                </tbody>
            </table>
        </div >
    </div >
    <!--Employee Search Area -->
    <div class="container-fluid" >


    </div >
    <!--Searched employee Display area-->
    <div class="container-fluid" ></div >
</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html>
