<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
    <style th:replace="fragment/header"></style>
</head>
<body>
<div class="container-fluid">
    <!--Employee Add From and Edit Form-->
    <div class="bg-secondary">
        <div class="col-sm-12 col-md-12">
            <h2
                    class="text-center text-light"><b><i><span
                    th:text="${addStatus == true ? 'Employee Add' : 'Employee Update'}"></span></i></b></h2>
            <form th:action="${addStatus == true ? '/employee/add' : '/employee/update'}" th:object="${employee}"
                  method="POST">
                <div class="form-row">
                    <!--One Side -->
                    <div class="col-sm-6 col-md-6">
                        <!--1 Id -->
                        <div class="form-group" th:if="${addStatus==false}">
                            <label for="id">ID:</label>
                            <input th:field="*{id}" type="text" class="form-control" id="id"
                                   aria-describedby="idDescribe"
                                   placeholder="Enter id">
                            <small id="idDescribe" class="form-text text-muted">Id would display after add status
                                                                                true.</small>
                        </div>
                        <!--2 Name -->
                        <div class="form-group">
                            <label for="name">Full Name: </label>
                            <input th:field="*{name}" type="text" class="form-control" id="name"
                                   aria-describedby="nameHelp"
                                   placeholder="Enter Name">
                            <span th:errors="*{name}"
                                  th:if="${#fields.hasErrors('name')}"></span>
                            <small id="nameHelp" class="form-text text-muted">Please provide valid email.</small>
                        </div>
                        <!--3 Date of Birth-->
                        <div class="form-group">
                            <label for="dateOfBirth">Date Of Birth:</label>
                            <input th:field="*{dateOfBirth}" type="date" class="form-control" id="dateOfBirth"
                                   aria-describedby="dateOfBirthHelp"
                                   placeholder="Enter email">
                            <small id="dateOfBirthHelp" class="form-text text-muted">Provide valid date of
                                                                                     birth.</small>
                        </div>
                        <!--4 Gender-->
                        <div class="form-group">
                            <label th:for="${gender}">Gender:</label>
                            <div class="checkbox col-2" th:each="gender : ${genders}">
                                <input class="checkbox" type="radio" th:value="${gender.id}"
                                       th:field="*{gender}"/>
                                <label class="label"
                                       th:for="${#ids.prev('gender')}"
                                       th:text="${gender.name}"></label>
                            </div>
                        </div>
                        <!--5 Designation-->
                        <div class="form-group">
                            <label for="designation">Designation:</label>
                            <select th:field="*{designation}" class="form-control" id="designation">
                                <option value="">Please Select</option>
                                <option th:each="designation : ${designations}"
                                        th:value="${designation.id}"
                                        th:field="*{designation}"
                                        th:text="${designation.name}"
                                ></option>
                                <!--th:selected="${designations.contains(designation.id)}"-->
                            </select>
                        </div>
                        <!--6 Civil status-->
                        <div class="form-group">
                            <label for="civilStatus">Civil Status:</label>
                            <select th:field="*{civilStatus}" class="form-control" id="civilStatus">
                                <option value="">Please Select</option>
                                <option th:each="civilStatus : ${civilStatuses}"
                                        th:value="${civilStatus}"
                                        th:field="*{civilStatus}"
                                        th:text="${civilStatus.civilStatus}"

                                ></option>
                            </select>
                        </div>
                        <!--7 Favorite days in week-->
                        <div class="form-group">
                            <label th:for="${weekDays}"> Select Favorite Day:</label>
                            <div th:each="weekDay: ${weekDays}">
                                <input type="checkbox"
                                       th:field="*{weekDays}"
                                       th:value="${weekDay.id}"/>
                                <label class=""
                                       th:for="${#ids.prev('weekDays')}"
                                       th:text="${weekDay.name}"></label>
                            </div>
                        </div>
                    </div>
                    <!--Second side-->
                    <div class="col-sm-6 col-md-6">
                        <!--8 Mobile -->
                        <div class="form-group">
                            <label for="mobile">Mobile:</label>
                            <input th:field="*{mobile}" type="text" class="form-control" id="mobile"
                                   aria-describedby="mobileHelp"
                                   placeholder="Enter mobile number">
                            <small id="mobileHelp" class="form-text text-muted">Provide valid Mobile Number.</small>
                        </div>
                        <!--9 land -->
                        <div class="form-group">
                            <label for="land">Land:</label>
                            <input th:field="*{land}" type="text" class="form-control" id="land"
                                   aria-describedby="landHelp"
                                   placeholder="Enter land number">
                            <small id="landHelp" class="form-text text-muted">Provide valid Land Number.</small>
                        </div>
                        <!--10 email-->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Provide valid email.</small>
                        </div>
                        <!--11 address-->
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea th:field="*{address}" class="form-control" id="address"
                                      aria-describedby="addressHelp"
                                      placeholder="Enter Address"></textarea>
                            <small id="addressHelp" class="form-text text-muted">Provide valid address.</small>
                        </div>
                        <!--12 Hobbies -->
                        <div class="form-group">
                            <label for="hobbies">Hobbies:</label>
                            <select th:filed="*{hobbiesList}" name="hobbiesList" class="form-control" id="hobbies"
                                    multiple>
                                <option th:each="hobby : ${hobbies}"
                                        th:value="${hobby.id}"
                                        th:text="${hobby.name}"
                                        th:field="*{hobbiesList}"
                                ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--Submit button -->
                <div class="row">
                    <div class="col-5"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            <span th:text="${addStatus == true? 'Save':'Update'}"></span>&nbsp; <i
                                class="fas fa-thumbs-up  "></i>
                        </button>
                    </div>
                </div>
                <!--Show errors-->
                <div>
                    <div th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">
                        <span th:each="err : ${#fields.errors('*')}" th:text="${err}"></span>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!--Employee List Display Area-->
    <div class="container-fluid bg-info" th:if="${not #lists.isEmpty(employeeList)}">
        <p class="text-center text-light"><b><i>Employee List</i></b></p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>Mobile</th>
                    <th>Land</th>
                    <th>Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employeeList}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.dateOfBirth}"></td>
                    <td th:text="${employee.mobile}"></td>
                    <td th:text="${employee.land}"></td>
                    <td>
                        <a th:href="${'/employee/view/'+employee.id}">
                            <button class="btn btn-success"><i class="fa fa-folder-open" aria-hidden="true"></i> &nbsp;View
                            </button>
                        </a>
                        <a th:href="${'/employee/edit/'+employee.id}">
                            <button class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit
                            </button>
                        </a>
                        <a th:href="${'/employee/delete/'+employee.id}">
                            <button class="btn btn-danger"><i class="fas fa-trash  "></i>&nbsp;Delete</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Employee Search Area -->
    <div class="container-fluid">


    </div>
    <!--Searched employee Display area-->
    <div class="container-fluid"></div>
</div>
<script th:replace="fragment/footer"></script>
</body>
</html>