<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
    <meta charset="UTF-8" >
    <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container-fluid" >
    <div class="container" >
        <div class="jumbotron" >
            <div class="h1" >Hey ..</div >
            <div class="offset-2" >
                <h3 class="text-info text-center textLayer-shadow">Welcome to Spring boot With Thymeleaf</h3>
                <h2>Enum Value View</h2>
                <div class="container">
                    <!--from content start-->
                    <form data-th-action="@{/form}" method="post" data-th-object="${form}"
                          class="was-validated" >
                        <div class="row" >
                            <!--Simple text filed-->
                            <div class="col" >
                                <div class="form-group" >
                                    <label for="simpleText" >Simple Text Filed</label >
                                    <input type="text" name="simpleText" id="simpleText" class="form-control"
                                           placeholder="Enter Name Here"
                                           aria-describedby="simpleTextId" required >
                                    <small id="simpleTextId" class="text-muted" >Simple Text Filed</small >
                                    <p class="text-danger"> Name is required</p>
                                    <!-- <p class="text-danger"  data-th-if="${#fields.hasErrors('simpleText')}"
                                         data-th-errors="*{simpleText}">Error
                                                                                                               Name</p>-->
                                </div>
                            </div>
                            <!--Text area-->
                            <div class="col">
                                <div class="form-group">
                                    <label for="textArea">Text Area</label>
                                    <textarea class="form-control" name="textArea" id="textArea" rows="4"
                                              aria-describedby="textAreaId"></textarea>
                                    <small id="textAreaId"> Text area</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--Local Date-->
                            <div class="col">
                                <div class="form-group">
                                    <label for="localDate">Local date</label>
                                    <input type="date" name="localDate" id="localDate" class="form-control"
                                           placeholder=""
                                           aria-describedby="localDateId">
                                    <small id="localDateId" class="text-muted">Local Date</small>
                                </div>
                            </div>
                            <!--Local date time-->
                            <div class="col">
                                <div class="form-group">
                                    <label for="localDateTime">Local date</label>
                                    <input type="datetime-local" name="localDate" id="localDateTime"
                                           class="form-control"
                                           placeholder=""
                                           aria-describedby="localDateTimeId">
                                    <small id="localDateTimeId" class="text-muted">Local Date Time</small>
                                </div>
                            </div>
                            <!--colour-->
                            <div class="col">
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input type="color" name="color" id="color"
                                           class="form-control"
                                           placeholder=""
                                           aria-describedby="colorId">
                                    <small id="colorId" class="text-muted">Local Date Time</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--Check box-->
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="singleValueCheckBox"
                                           id="checkedValue"
                                           value="checkedValue"/>
                                    <label class="custom-control-label" for="checkedValue"> Single value Check </label>
                                </div>
                            </div>
                            <!--Multi Check box-->
                            <div class="col">
                                <div class="custom-control custom-checkbox"
                                     data-th-each="multiValueCheckBoxe : ${multiValueCheckBoxes}" >
                                    <input type="checkbox" class="custom-control-input"
                                           data-th-field="*{multiValueCheckBoxList}"
                                           data-th-value="${multiValueCheckBoxe.id}" >
                                    <label class="custom-control-label"
                                           data-th-for="${#ids.prev('multiValueCheckBoxList')}"
                                           data-th-text="${multiValueCheckBoxe.name}" > Multi Value Check One
                                    </label >
                                </div >
                            </div>
                            <!--Radio button-->
                            <div class="col">
                                <div class="custom-control custom-radio" data-th-each="radioButton : ${radioButtons}" >
                                    <input type="radio" class="custom-control-input"
                                           data-th-value="${radioButton.id}" data-th-field="*{radioButton}" />
                                    <label class="custom-control-label" data-th-for="${#ids.prev('radioButton')}"
                                           data-th-text="${radioButton.name}" > radio
                                    </label >
                                </div >
                            </div>
                        </div>

                        <div class="row">
                            <!--Drop down single-->
                            <div class="col">
                                <div class="form-group">
                                    <label for="dropDownList">Drop Down Single </label>
                                    <select class="form-control" data-th-field="*{dropDownList}" id="dropDownList" >
                                        <option value="" disabled > Please Select</option >
                                        <option data-th-each="dropDown : ${dropDowns}" data-th-value="${dropDown.id}"
                                                data-th-text="${dropDown.name}" ></option >
                                    </select >
                                </div>
                            </div>
                            <!--Drop down multi-->
                            <div class="col">
                                <div class="form-group">
                                    <label for="dropDownList1">Drop Down Single </label>
                                    <select class="form-control" data-th-field="*{dropDownList}" id="dropDownList1"
                                            multiple >
                                        <option value="" disabled > Please Select</option >
                                        <option data-th-each="dropDown : ${dropDowns}" data-th-value="${dropDown.id}"
                                                data-th-text="${dropDown.name}" ></option >
                                    </select >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-content-center">
                                <button type="submit" class="btn btn-primary" >Submit</button >
                            </div >
                        </div >
                    </form >
                </div >
            </div >
        </div >
    </div >
</div >
</body >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script type="text/javascript" >
    /*    (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();*/
</script>
</html>
