<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="fragment/header"></style>
</head>
<body>
<h1>Fill From to send data to DB</h1>
<!--data add from-->
<div th:if="${show == false}">
    <div>
        <form th:action="${'/hello/step3'}" method="post" th:object="${simple}">

            <div th:if="${idShow==true}">
                id : <input type="text" th:field="*{id}">
            </div>
            <div>
                Name : <input type="text" th:field="*{name}">
            </div>
            <div>
                Mobile Number : <input type="text" th:field="*{mobileNo}">
            </div>
            <div>
                Address : <textarea type="text" th:field="*{address}"></textarea>
            </div>

            <button type="submit">Save</button>

        </form>
    </div>
</div>
<!-- display data -->
<div class="container" style="margin-top: 5px;"  th:if="${not #lists.isEmpty(simpleList)}">
    <div class="table-responsive">
        <table class="table table-striped table-condensed text-center" id="myTable">
            <thead>
            <tr>
                <th>Index</th>
                <th>Id</th>
                <th>Name</th>
                <th> Mobile</th>
                <th>Address</th>
                <th class="text-center">Modify</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="simple, rowCount : ${simpleList}">
                <th th:text="${rowCount.count}"></th>
                <th th:text="${simple.id}"></th>
                <th th:text="${simple.name}"></th>
                <th th:text="${simple.mobileNo}"></th>
                <th th:text="${simple.address}"></th>
                <th><a class="btn btn-success" th:href="${'/hello/' + rowCount.index}"><i
                        class="fa fa-folder-open"></i>&nbsp;View</a>
                    <a class="btn btn-primary" th:href="${'/hello/edit/' + rowCount.index}"><i
                            class="fa fa-edit"></i>&nbsp;Edit</a>
                    <a class="btn btn-danger" th:href="${'/hello/remove/' + rowCount.index}"><i
                            aria-hidden="true" class="fa fa-trash-o"></i>
                        Delete</a>
                    <br>
                    <p th:text="${rowCount}"></p>
                </th>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Show one data object details-->
<div th:if="${show == true}">
    <div>
        <div><p>Id: <span th:text="${data.id}"></span></p></div>
        <div>Name: <span th:text="${data.name}"></span> </p></div>
        <div>Mobile NO: <span th:text="${data.mobileNo}"></span> </p></div>
        <div>Address: <span th:text="${data.address}"></span> </p></div>
    </div>
</div>

<script th:replace="fragment/footer"></script>
</body>
</html>