<!DOCTYPE html>
<html >
<head >

  <link data-th-href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" />
  <link data-th-href="@{/css/style.css}" rel="stylesheet" />
  <title >Persons</title >
</head >
<body >
<div class="container" >
  <div class="row" >
    <h1 >Persons</h1 >
  </div >
  <div class="row" >
    <table class="table" >
      <tr >
        <th >First name</th >
        <th >Last name</th >
        <th >Age</th >
      </tr >
      <tr data-th-each="person : ${persons}" >
        <td data-th-text="${person.firstName}" ></td >
        <td data-th-text="${person.lastName}" ></td >
        <td data-th-text="${person.age}" ></td >
      </tr >
    </table >
  </div >
  <div class="row" >
    <div class="form-group col-md-1" >
      <select class="form-control pagination" id="pageSizeSelect" >
        <option data-th-each="pageSize : ${pageSizes}" data-th-text="${pageSize}" data-th-value="${pageSize}"
                data-th-selected="${pageSize} == ${selectedPageSize}" ></option >
      </select >
    </div >
    <div data-th-if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered" >
      <ul class="pagination" >
        <li data-th-class="${persons.number == 0} ? disabled" >
          <a class="pageLink" data-th-href="@{/(pageSize=${selectedPageSize}, page=1)}" >&laquo;</a >
        </li >
        <li data-th-class="${persons.number == 0} ? disabled" >
          <a class="pageLink" data-th-href="@{/(pageSize=${selectedPageSize}, page=${persons.number})}" >&larr;</a >
        </li >
        <li data-th-class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
            data-th-each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}" >
          <a class="pageLink" data-th-href="@{/(pageSize=${selectedPageSize}, page=${page})}"
             data-th-text="${page}" ></a >
        </li >
        <li data-th-class="${persons.number + 1 == persons.totalPages} ? disabled" >
          <a class="pageLink"
             data-th-href="@{/(pageSize=${selectedPageSize}, page=${persons.number + 2})}" >&rarr;</a >
        </li >
        <li data-th-class="${persons.number + 1 == persons.totalPages} ? disabled" >
          <a class="pageLink"
             data-th-href="@{/(pageSize=${selectedPageSize}, page=${persons.totalPages})}" >&raquo;</a >
        </li >
      </ul >
    </div >
  </div >
</div >
<script data-th-src="@{/webjars/jquery/1.11.1/jquery.min.js}" ></script >
<script data-th-src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script >
<script data-th-src="@{/js/app.js}" ></script >
</body >
</html >
