<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
    <meta charset="UTF-8" >
    <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container-fluid" >
    <div class="container" >
        <div class="jumbotron" >
            <div class="h1" >Hey ..</div >
            <div class="offset-2" >
                <h3 class="text-info text-center textLayer-shadow">Welcome to Spring boot With Thymeleaf</h3>
            <h2>Enum Value View</h2>
                <div class="container" >
                    <div class="container bg-success" >
                        <h1 class="text-center" >Value come from Database </h1 >
                        <div class="h3" data-th-text="${enumValues}" ></div >
                    </div >
                    <ol class="list-group" data-th-each="sampleEnum : ${enumValues}" >
                        <li class="list-group-item" data-th-text="${sampleEnum}" ></li >
                    </ol >
                </div >
            </div >
        </div >
    </div >
</div >
</body >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</html >
