<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<div class="container-fluid">
    <div class="container">
        <div class="jumbotron">
            <div class="h1">Hey ..</div>
            <div class="offset-2">
                <h3 class="text-info text-center text-truncate textLayer-shadow">Welcome to Spring boot With Thymeleaf</h3>
            <h2>First Parameter View</h2>
                <h1 class="text-success text-center" th:text="${firstParameter}"></h1>
            </div>
        </div>
    </div>
</div>
</body>
<script th:replace="~{fragments/footer :: footerFragment}"></script>
<script th:replace="~{fragments/script :: scriptFragment}"></script>
</html>